:root .char-index-0 {
  --char-index: 0;
}
:root .char-index-1 {
  --char-index: 1;
}
:root .char-index-2 {
  --char-index: 2;
}
:root .char-index-3 {
  --char-index: 3;
}
:root .char-index-4 {
  --char-index: 4;
}
:root .char-index-5 {
  --char-index: 5;
}
:root .char-index-6 {
  --char-index: 6;
}
:root .char-index-7 {
  --char-index: 7;
}
:root .char-index-8 {
  --char-index: 8;
}
:root .char-index-9 {
  --char-index: 9;
}
:root .char-index-10 {
  --char-index: 10;
}
:root .char-index-11 {
  --char-index: 11;
}
:root .char-index-12 {
  --char-index: 12;
}

/* char total */
:root .char-total-12 {
  --char-total: 12;
}
:root .word-index-0 {
  --word-index: 0;
}

.char {
  white-space: pre;
}